<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-banque-heading" jhiTranslate="primegatewayApp.primeserviceBanque.home.createOrEditLabel">Create or edit a Banque</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primegatewayApp.primeserviceBanque.codeBanque" for="field_codeBanque">Code Banque</label>
                    <input type="text" class="form-control" name="codeBanque" id="field_codeBanque"
                           formControlName="codeBanque"/>
                    <div *ngIf="editForm.get('codeBanque')!.invalid && (editForm.get('codeBanque')!.dirty || editForm.get('codeBanque')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeBanque')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primegatewayApp.primeserviceBanque.nomBanque" for="field_nomBanque">Nom Banque</label>
                    <input type="text" class="form-control" name="nomBanque" id="field_nomBanque"
                           formControlName="nomBanque"/>
                    <div *ngIf="editForm.get('nomBanque')!.invalid && (editForm.get('nomBanque')!.dirty || editForm.get('nomBanque')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomBanque')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primegatewayApp.primeserviceBanque.siegeSocial" for="field_siegeSocial">Siege Social</label>
                    <input type="text" class="form-control" name="siegeSocial" id="field_siegeSocial"
                           formControlName="siegeSocial"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primegatewayApp.primeserviceBanque.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primegatewayApp.primeserviceBanque.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                           formControlName="fax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="primegatewayApp.primeserviceBanque.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
