<div>
    <h2 id="page-heading">
        <span jhiTranslate="primegatewayApp.primeserviceAnnee.home.title">Annees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-annee" [routerLink]="['/annee/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="primegatewayApp.primeserviceAnnee.home.createLabel">
            Create a new Annee
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="annees?.length === 0">
        <span jhiTranslate="primegatewayApp.primeserviceAnnee.home.notFound">No annees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="annees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="primegatewayApp.primeserviceAnnee.codeAnnee">Code Annee</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let annee of annees ;trackBy: trackId">
                    <td><a [routerLink]="['/annee', annee.id, 'view']">{{ annee.id }}</a></td>
                    <td>{{ annee.codeAnnee }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/annee', annee.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/annee', annee.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(annee)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
